
/*---------------social media logos --------------------*/


/* Add a hover effect if you want */
.fa:hover {
    color: #410b13;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
    color: #410b13;
}

/* Twitter */
.fa-twitter {
    color: #410b13;
}

/* Youtube */
.fa-youtube {
    color: #410b13;
}

/*-------------------------------------------------*/
