/*---------------social media logos --------------------*/

$social_media_color : #410b13;

$social_media_hover_color : #fff;



/* Add a hover effect if you want */
.fa:hover {
    color: $social_media_color;

    &-facebook {
        color: $social_media_hover_color;
    }

    &-twitter {
        color: $social_media_hover_color;
    }

    &-youtube {
        color: $social_media_hover_color;
    }

    &-instagram {
        color: $social_media_hover_color;
    }

    &-skype {
        color: $social_media_hover_color;
    }

    &-linkedin {
        color: $social_media_hover_color;
    }
}
