// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'newStyle';
@import 'header';
@import 'footer';
@import "social-media-links";
@import "header-navigation";
@import "views_styling/register-view";
@import "views_styling/login-view";
@import "views_styling/home-view";
*{
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    min-height: 100vh;
}
/*

main {
    padding-bottom: 32vh;
    padding-top: 8vh;
}
*/

