// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'header';
@import 'footer';
@import "social-media-links";
@import "header-navigation";
@import 'newStyle';
@import "logo";
@import "loader";
@import "text-bar";
@import "fade-in-animation";
@import "layout";
@import "slider";
@import "views_styling/auth/register-view";
@import "views_styling/auth/login-view";
@import "views_styling/home-view";
@import "views_styling/articles/create";
@import "views_styling/admin-view";
*{
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    min-height: 100vh;
}
main {
    background-color: #EEEEEE;
}
.card-header {
    background: #3D3F4B;
    color: #fff;
}

