#expert-create {
    background-image: url("/images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    max-width: 100%;
    padding-bottom: 32vh;

}

.expert-radio-button{
    width: 2%;
}
.expert-row{
    margin-bottom: 3rem;
}

.input-label{
    font-weight: 800;
}
