#home {
    max-width: 100%;
    padding-bottom: 32vh;
}

.smaller-card {
    background: lighten(#3D3F4B, 50%);

    a {
        color: #3D3F4B
    }
}

#admin-replies {
    thead {
        background: #BDBFCA;
    }
}

//lighten(#D33E43,10%)
.my-custom-scrollbar {
    position: relative;
    height: 40vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
