#home {
    max-width: 100%;
    padding-top: 10vh;
    background-image: url("/images/unsplash.jpg");
    background-size: auto;

}
#homebg {
    background-image: url("/images/unsplash.jpg");
    background-size: auto;
}

.smaller-card {
    background: lighten(#3D3F4B, 50%);

    a {
        color: #3D3F4B
    }
}

#admin-replies {
    thead {
        background: #BDBFCA;
    }
}

//lighten(#D33E43,10%)
.my-custom-scrollbar {
    position: relative;
    height: 30vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.box i {
    margin-bottom: 30px;
}
.bg-skin {
    background: #3D3F4B;
}
.circled {
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    line-height: 1.6em;
}
.paddingtop-80{padding-top:80px !important;}

#partner {
    padding-top: 150px;
    display: block;
    position: relative;
    z-index: 120;
}
.paddingbot-60 {
    padding-bottom: 60px !important;
}

h1.h-bold, h2.h-bold, h3.h-bold, h4.h-bold, h5.h-bold, h6.h-bold {
    font-weight: 700;
}
.marginbot-50 {
    margin-bottom: 50px !important;
}

.section-heading p {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.6em;
}

.consult-row{
    margin-bottom: 2rem;
}
